* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */

.general {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #ededed;
}

.mobile-view {
    display: none;
}

.gray-text {
    color: #a3a3a3;
}

ul {
    list-style: none;
}

.relative {
    position: relative;
}

.green-line-y {
    position: absolute;
    height: 31px;
    border: 1px solid #a7f62d;
    top: 84px;
    left: -20px;
}

.green-line-x {
    position: absolute;
    width: 31px;
    border: 1px solid #a7f62d;
    bottom: 0;
    left: 40px;
}

.round {
    border-radius: 50%;
}

/* Main Page */

.main-page {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
}

/* Sidebar */

.sidebar {
    width: 250px;
    height: 100%;
    background-color: #000;
    padding: 0 20px;
}

.sidebar-top {
    width: 100%;
    height: calc(100% - 100px);
    min-height: 410px;
}

.sidebar-nav {
    width: 100%;
    height: 200px;
}

.spotify-logo img {
    width: 150px;
    height: 80px;
    object-fit: contain;
}

.sidebar-nav p {
    padding: 5px 0;
}

.sidebar-nav p i {
    margin-right: 5px;
    font-size: 20px;
    width: 20px;
}

.sidebar-playlist {
    width: 100%;
    height: calc(100% - 200px);
}

.sidebar-playlist-create {
    width: 100%;
    height: 80px;
}

.sidebar-playlist-create p {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.sidebar-playlist-create i {
    font-size: 40px;
    margin-right: 5px;
}

.sidebar-playlist-list {
    width: 100%;
    height: calc(100% - 100px);
    overflow-y: auto;
}

.sidebar-playlist-list li {
    padding: 10px 0;
}

.sidebar-bot {
    width: 100%;
    height: 100px;
}

.app-install {
    border-bottom: 2px #a3a3a3 solid;
    padding: 10px 0;
    margin-bottom: 20px;
}

.user-align {
    display: flex;
    align-items: center;
}

.user {
    font-size: 30px;
    margin-right: 5px;
}

/* Main + Header */

.main-box {
    width: calc(100% - 250px);
    height: 100%;
    background-color: #141922;
    overflow-y: scroll;
}

/* Header */

.header {
    width: calc(100% - 250px);
    height: 100px;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: end;
    align-items: center;
}

.button {
    margin-right: 25px;
    border: 1px #fff solid;
    padding: 10px 50px;
    border-radius: 25px;
}

/* Main */

.main {
    width: 100%;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

.main nav {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main nav p {
    margin: 10px 10px;
    padding: 5px 0;
}

.main h1 {
    margin-top: 10px;
}

.row {
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.song-box {
    width: calc(100% / 6 - 10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    text-align: center;
}

.song-img {
    width: 100%;
    margin-bottom: 5px;
}

.song-img img {
    width: 100%;
    object-fit: contain;
}

/* Footer */

.footer {
    width: 100%;
    height: 100px;
    background-color: #333;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
}

.footer-left,
.footer-right {
    width: 250px;
    max-width: calc(100% / 3);
    height: 100%;
    display: flex;
    align-items: center;
}

.footer-left {
    margin-right: 5px;
}

.footer-right {
    margin-left: 5px;
}

.footer-right > * {
    margin: 0 8px;
}

.footer-middle {
    width: calc(100% - 500px);
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.player-icons {
    display: flex;
    width: 150px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.icon-big {
    font-size: 30px;
}

.player-slider {
    width: 80%;
    display: flex;
    align-items: center;
}

.slider-big {
    width: 100%;
    height: 5px;
    margin: 0 5px;
    padding: 0 0;
    position: relative;
}

.footer-img {
    width: 60px;
    min-width: 60px;
    min-height: 60px;
    margin: 0 10px;
}

.footer-img img {
    width: 100%;
    object-fit: contain;
}

.footer-author {
    margin-right: 25px;
}

.footer-icons {
    font-size: 20px;
}

.slider-small {
    width: 130px;
    height: 5px;
    margin: 0 0;
    padding: 0 0;
    position: relative;
}

.slider-left {
    background-color: #a3a3a3;
    width: 30%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
}

.slider-right {
    background-color: #5a5a5a;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
}

.slider-button {
    display: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #a3a3a3;
    position: absolute;
    top: -5px;
    left: 29%;
}

.slider:hover {
    cursor: pointer;
}

.slider:hover .slider-left {
    background-color: #a7f62d ;
}

.slider:hover .slider-button {
    display: block;
}

/* ---------------------MEDIA--------------------- */

/* TABLET */

@media screen and (max-width: 1199px) {

    .song-box {
        width: calc(100% / 4 - 10px);
    }

}

/* MOBILE */
@media screen and (max-width: 575px) {
    
    .sidebar {
        width: 70px;
    }

    .main-box {
        width: calc(100% - 70px);
    }

    .mobile-hide {
        display: none;
    }

    .mobile-view {
        display: block;
    }

    .sidebar {
        padding: 10px 10px;
    }

    .spotify-logo {
        width: 50px;
        height: 50px;
    }

    .spotify-logo img {
        width: 50px;
        height: 50px;
    }

    .sidebar p {
        text-align: center;
        margin: 10px 0;
    }

    .app-install {
        border: none;
    }

    .user {
        margin-right: 0;
        padding-top: 6px;
    }

    .header {
        width: calc(100% - 70px);
    }

    .song-box {
        width: calc(100% / 2 - 10px);
    }

    .footer-img {
        min-width: 50px;
        height: 50px;
    }

}